<h1>Sign Up</h1>

<form action="<%= users_url %>" method="POST">

  <%= render :partial => "shared/errors"%>
  <%= auth_token %>
  
  <label for="user-username">Username
    <input type="text" name="user[username]" value="<%= @user.username %>" id="user-username">
  </label>
  <label for="user-password">Password
    <input type="password" name="user[password]" >
  </label>
  
  <input type="submit" value="Sign Up">
</form>
  
  