<h1>Edit a Post</h1>

<form action="<%= post_url(@post) %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    
    <%= auth_token %>
    
    <label for="post-title">Title<br>
        <input type="text" name="post[title]" id="post-title">
    </label>
    
    <label for="post-content">Content<br>
        <textarea name="post[content]"></textarea>
    </label>

    <%= render "checkboxes", :subs => @subs, :post => @post %> 
    
    <input type="submit" value="Edit Post">
</form>


