<h1>Create a Post</h1>

<form action="<%= posts_url %>" method="POST">
        
    <%= auth_token %>
        
    <label for="post-title">Title<br>
        <input type="text" name="post[title]" id="post-title">
    </label>
    
    <label for="post-content">Content<br>
        <textarea cols="50" rows="20" name="post[content]"
            id="post-content"></textarea>
    </label>
    <%=render "checkboxes", :subs => @subs, :post => @post %>
    <input type="submit" value="New Post">
</form>