/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
label{
  margin:5%;
  display:block;
  font-size: 1.3em;
}
h1,h2,h3{
  text-align:center;
}
#container{
  width:90%;
  padding:10px 10px;
  margin: 0 auto;
  background: rgba(40,60,90,0.8);
  color: #DFDFDF;
}
form{
  text-align:center;
}
form li{
  list-style:none;
}
input{
  width:10%;
}
a{
  text-decoration: none;
}
nav{
  margin-left: 10%;
  margin-bottom: 3%;
}
nav a{
  padding:5px;
  margin: 0 5%;
}
nav a:hover{
  border-radius: 5px;
  border: 2px solid rgba(40,60,90,0.8);
}